.navbar-custom {
    background-color: #042b66;
    border-bottom: 10px solid #f9b228;
}

.carouselimgs {
    height: 800px;
    width: 2100px;
    text-align: center;
    justify-content: center;
}

.mustangsborder {
    box-shadow:
  0 0 0 5px  #042b66,
  0 0 0 10px #f9b228;
}

.welcomediv1 {
    height: 200px;
}
