.navbar-custom {
    background-color: rgb(8, 8, 220);
    border-bottom: 10px solid gold;
}

.carouselimgs {
    height: 800px;
    width: 2100px;
    text-align: center;
    justify-content: center;
}

.mustangsborder {
    box-shadow:
  0 0 0 5px rgb(8, 8, 220),
  0 0 0 10px gold;
}

